{% extends 'base.html.twig' %}

{% block body %}

    Hello user!<br>
    <a href="{{path("homepage")}}">Main</a><br>

    <a href="{{path("leo_game_homepage")}}">Games</a>
    <a href="{{path("leo_user_homepage")}}">Users</a>
    <a href="{{path("leo_blog_homepage")}}">Blogs</a><br>
{% endblock %}
