body {
    background: #ccffcc;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    border-style: ridge;
    background: #ffffcc;
}
td,th {
    border-style: ridge;
    padding: 5px;
}
button, input[type="submit"] {
    padding: 3px;
    background: #ccccff;
    border-style: outset;
    border-radius: 5px;
}
*{
    margin: 3px;
}