body {
    background: #ccffcc;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    border-style: ridge;
    background: #ffffcc;
}

td, th {
    border-style: ridge;
    padding: 5px;
}

a.button, input[type="submit"] {
    text-decoration: none;
    padding: 3px;
    background: #ccccff;
    border: 2px outset #ccccff;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 3px;
    color: black;
    font: inherit;
}
