{% extends 'default/index.html.twig' %}
{% block body %}
    {{parent()}}
    <a href="{{path("author_index")}}">Author</a>
    <a href="{{path("post_index")}}">Post</a>
    <a href="{{path("comment_index")}}">Comment</a>
{% endblock %}